@font-face {
  font-family: 'Mazius';
  src: url('../assets/fonts/Mazius.woff2');
}

@font-face {
  font-family: 'Neue';
  src: url('../assets/fonts/NeueHaasGroteskText-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Neue';
  src: url('../assets/fonts/NeueHaasGroteskText-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Neue';
  src: url('../assets/fonts/NeueHaasGroteskText-Bold.otf');
  font-weight: 600;
}
